section.blog {
	nav.search {
		margin: auto;
		max-width: 960px;
		position: relative;
		a.close {
			font-size: 20px;
			padding: 1em;
			position: absolute;
			right: 0;
			top: 0.5em;
			color: white;
			&:hover {
				color: #8896AB;
			}
		}
	}
	input.search {
		background-color: transparent;
		border: none;
		color: white;
		display: block;
		font-size: 2em;
		font-style: italic;
		padding-right: 1.5em;
		&::placeholder {
			color: #6e7984;
		}
	}
}