.container {
	/* autoprefixer: off */
	perspective: 2500px;
	transform-style: preserve-3d;
	section {
		/* autoprefixer: on */
		backface-visibility: hidden;
		box-sizing: border-box;
		position: relative;
		transition: transform 0.75s cubic-bezier(0.5, 0.25, 0.25, 0.5), background-color 0.75s cubic-bezier(0.25, 0.5, 0.5, 0.25), color 0.75s cubic-bezier(0.25, 0.5, 0.5, 0.25), opacity 0.75s cubic-bezier(0.25, 0.5, 0.5, 0.25);
		&.intro {
			background-color: white;
			transform-origin: 0 100%;
			text-align: center;
		}
		&.blog {
			opacity: 0;
			pointer-events: none;
			// transform: rotateX(-90deg);
			transform-origin: 0 0;
		}
		a.pull,
		a.back {
			box-sizing: border-box;
			display: block;
			font-size: 1.5em;
			padding: 0.5em;
			position: absolute;
			text-align: center;
			width: 100%;
			color: #C5D5E4;
			&:hover {
				color: #8896AB;
				font-size: 1.75em;
			}
		}
		&.intro a.pull {
			bottom: 0;
		}
		&.blog a.pull,
		&.blog a.back {
			top: 0.25em;
		}
	}
	&.blog {
		.intro {
			opacity: 0;
			pointer-events: none;
			// transform: translateY(-100%) rotateX(90deg);
		}
		.blog {
			opacity: 1;
			pointer-events: all;
			// transform: rotateX(0deg) translateY(-100%);
		}
	}
}