/*===============================//
// ===== NORMAZLIZE STYLES ===== //
//===============================*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	padding: 0;
	font: 16px/1 sans-serif;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
	margin: 0;
	padding: 0;
}
main,
li {
	display: block;
}
h1,
h2,
h3,
h4 {
	
	font-family: $display;
	font-kerning: normal;
	font-size: inherit;
	text-rendering: optimizeLegibility;
}
strong {
	font-weight: bold;
}
a,
button {
	color: inherit;
	transition: $transition;
}
a {
	text-decoration: none;
	transition: color $transition, border-color $transition, transform $transition;
}
button {
	overflow: visible;
	border: 0;
	border-radius: 4px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	color: white;
	background-color: #C5D5E4;
	font-family: $display;
	font-size: 14px;
	letter-spacing: 0.05em;
	margin-top: 0.5em;
	padding: 0.5em 1em;
	text-transform: uppercase;
	&:hover {
		background-color: #8896AB;
	}
	&.full {
		width: 100%;
		font-size: 16px;
		padding: 0.75em 1em;
	}
}
::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus {
	outline: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	padding: 0.25em 0.5em;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 0.5em;
	display: inline-block;
	transition: background-color $transition, border-color $transition;
	&:hover,
	&:focus {
		border-color: gray;
	}
}

textarea {
	display: block;
}

select { // minimalist select dropdowns: http://codepen.io/vkjgr/pen/VYMeXp
	appearance: none;
	background-image:
		linear-gradient(45deg, transparent 40%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 40%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 18px) calc(1em),
		calc(100% - 14px) calc(1em),
		calc(100% - 2.25em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.25em;
	background-repeat: no-repeat;
	padding: 0.5em 2.5em 0.5em 0.5em;
	&:focus {
		background-image:
			linear-gradient(135deg, transparent 40%, gray 50%),
			linear-gradient(45deg, gray 50%, transparent 40%),
			linear-gradient(to right, #ccc, #ccc);
	}
}

@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

div.loading {
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	&::after {
		@include loading();
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
	}
}