html,
body.home {
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
}

section.intro {
	text-align: center;
	&::after,
	div {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
	}
	div {
		max-width: 98%;
		text-align: center;
		&.not-found {
			box-sizing: border-box;
			padding: 1em;
			p + p {
				margin-top: 1.5em;
			}
		}
	}
	h1 {
		font-size: 2.5em;
		font-weight: 400;
		line-height: 1em;
		margin-bottom: 0.25em;
		a {
			color: black;
			&:hover {
				color: #8896AB;
				font-size: 1.1em;
			}
		}
	}
	li {
		display: inline-block;
		font-size: 1em;
		a {
			display: block;
			padding: 0.75em;
			color: black;
			i {
				backface-visibility: hidden;
				transition: transform $transition, color $transition;
			}
			&:hover {
				// transform: translateY(-0.25em);
				i {
					transform: translateY(-0.125em);
					color: #8896AB;
				}
			}
		}
	}
	.pull {
		bottom: 0;
	}
}
