body {
	font-family: $serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5em;
}

a {
	color: #8896AB;
	&:hover {
		color: #C5D5E4;
	}
}

.container {
	height: 100%;
	position: relative;
	section {
		height: 100%;
		overflow-y: hidden;
		h1 {
			font-size: 2em;
			line-height: 1.25em;
			text-transform: uppercase;
		}
	}
	a.pull,
	a.back {
		box-sizing: border-box;
		color: #C5D5E4;
		display: block;
		font-size: 1.5em;
		padding: 0.5em;
		position: absolute;
		text-align: center;
		transform-origin: 50% 50% 0;
		width: 100%;
		&:hover {
			color: #8896AB;
			transform: scale(1.2);
		}
	}
	&.intro a.pull {
		bottom: 0;
	}
	&.blog a.pull,
	&.blog a.back {
		top: 0.25em;
	}
}